<?xml version="1.0" encoding="UTF-8"?>
<Configuratio status="error">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%class{1}.%method()[%line] : %message%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Logger name="spring" level="debug" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
	</Loggers>
</Configuratio>
